body{
	background-image: url("/sites/crispy-octo-parakeet/images/body_background.jpg");
	background-color: black;
	font-family: arial, verdana;
}

header{
	border: 2px solid white;
	background-color: black;
    color: white;
    text-align: center;
    padding: 10px;	
}

section{
	border: 2px solid white;
	margin: 50px auto auto auto;
	width: auto;
	padding: 50px;
	background-color: black;
	color: white;
	text-align: left;
	
}

article{
	border: 2px solid white;
	margin: 50px auto auto auto;
	width: auto;
	padding: 50px;
	background-color: black;
	color: white;
	text-align: left;
}
.headings{
	color: green;
}
.headings:hover{
	cursor: pointer;
}
.clicked{
	color: red;
}